<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
 <router id="admin">
  <route id="triniti_crosslinks" frontName="triniti_crosslinks">
   <module name="Triniti_SeoCrossLinks"/>
  </route>
 </router>
</config>
