<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <keycrm>
            <general>
                <api_url>https://openapi.keycrm.app/v1</api_url>
            </general>
        </keycrm>
    </default>
</config>
