<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Stagem\KeyCrm\Helper\Proxy">
        <arguments>
            <argument name="pathUrl" xsi:type="const">Stagem\KeyCrm\Api\ConfigManagerInterface::URL_PATH</argument>
            <argument name="pathKey" xsi:type="const">Stagem\KeyCrm\Api\ConfigManagerInterface::KEY_PATH</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="orders_export_command" xsi:type="object">Stagem\KeyCrm\Console\Command\OrdersExport</item>
            </argument>
        </arguments>
    </type>
</config>
