<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mst_attachment>
            <product_tab>
                <is_enabled>1</is_enabled>
                <label>Attachments</label>
                <position>100</position>
            </product_tab>
        </mst_attachment>
    </default>
</config>
