<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mst_attachment" frontName="mst_attachment">
            <module name="Mirasvit_Attachment"/>
        </route>
    </router>
</config>
